@use "../../components/styles/theme";

.home-wrapper {
  @include theme.media(large) {
    display: flex;
  }
}

.event-wrapper {
  @include theme.no-space;
}

.event-row {
  list-style: none;
  margin-bottom: 0;
  padding: theme.get-spacing(small) 0;
  border-top: 1px solid theme.get-color(text, lightest);
}

.event-footer {
  margin-bottom: theme.get-spacing(large);
  .event-cta {
    display: block;
    text-decoration: none;
    border-bottom-width: 0;
    color: theme.get-color(text);
    text-align: center;
    line-height: 2.5em;
    background-color: theme.get-color(primary);
  }
}
