@use "sass:map";
@use "sass:color";

$theme-colors: (
  "primary": (
    "normal": #DBF2FF,
    "desaturate": color.adjust(#DBF2FF, $saturation: -90%, $space: hsl),
    "light": color.adjust(#DBF2FF, $lightness: 10%, $space: hsl),
    "dark": color.adjust(#DBF2FF, $lightness: -10%, $space: hsl),
    "darkest": color.adjust(#DBF2FF, $lightness: -20%, $saturation: -10%, $space: hsl),
  ),
  "secondary": (
    "normal": #D2879E,
    "light": color.adjust(#D2879E, $lightness: 20%, $space: hsl),
    "dark": color.adjust(#D2879E, $lightness: -30%, $space: hsl),
    "darkest": color.adjust(#D2879E, $lightness: -30%, $saturation: -10%, $space: hsl),
  ),
  "tertiary": (
    "normal": #D9C5A9,
    "light": color.adjust(#D9C5A9, $lightness: 20%, $space: hsl),
  ),
  "success": (
    "normal": #28a745,
  ),
  "text": (
    "normal": #333333,
    "subtle": color.adjust(#333333, $lightness: 10%, $space: hsl),
    "light": color.adjust(#333333, $lightness: 20%, $space: hsl),
    "lighter": color.adjust(#333333, $lightness: 60%, $space: hsl),
    "lightest": color.adjust(#333333, $lightness: 75%, $space: hsl),
  ),
  "info": (
    "normal": #17a2b8,
  ),
  "warning": (
    "normal": #ffc107,
  ),
  "background": (
    "normal": #fffffd,
    "darken": color.adjust(#333333, $lightness: 75%, $space: hsl),
    "subtle": color.adjust(#333333, $lightness: 10%, $space: hsl),
  )
);

$font-family-serif: "EB Garamond", serif;
$font-family-sans-serif: "Roboto", sans-serif;

$theme-fonts: (
  "header": $font-family-serif,
  "body": $font-family-sans-serif,
);

$theme-spacing: (
  "xsmall": 0.24rem,
  "small": 0.72rem,
  "medium": 1rem,
  "normal": 1.45rem,
  "large": 2.9rem,
);

$theme-font-size: (
  "large": 2.25rem,
  "medium": 1.62671rem,
  "subheader": 1.313rem,
  "normal": 1rem,
  "small": 0.85rem,
);

$dropshadow: (
  "pressed": 0 0 0.25rem color.scale(#333333, $alpha: -75%, $space: hsl),
  "normal":  0.05rem 0.05rem 0.25rem color.scale(#333333, $alpha: -75%, $space: hsl),
  "dark": 0.05rem 0.05rem 0.25rem color.scale(#333333, $alpha: -50%, $space: hsl),
);

@mixin no-space {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@mixin no-space-text {
  margin: 0 0 map.get($theme-spacing, "normal") 0;
  padding: 0 0 0 0;
}

@mixin max-width() {
  margin: 0 auto;
  max-width: 960px;
  padding: map.get($theme-spacing, "normal") 1.0875rem;
}

@function get-font($name) {
  @return map.get($theme-fonts, $name);
}

@function get-font-size($name: "normal") {
  @return map.get($theme-font-size, $name);
}

@function get-color($name, $variant: "normal") {
  $color: map.get($theme-colors, $name);
  @return map.get($color, $variant);
}

@function get-hover-color($name, $variant: "normal") {
  $color: map.get($theme-colors, $name);
  @return color.adjust(map.get($color, $variant), $lightness: -7%, $space: hsl),
}

@function get-outline-color($name, $variant: "normal") {
  $color: map.get($theme-colors, $name);
  @return color.adjust(map.get($color, $variant), $lightness: -10%, $space: hsl)
}

@function get-spacing($name: "normal") {
  @return map.get($theme-spacing, $name);
}

@function get-dropshadow($name: "normal") {
  @return map.get($dropshadow, $name);
}

@mixin media($point) {
  @if $point == large {
    @media only screen and (min-width: 481px) {
      @content;
    }
  } @else if $point == medium {
    @media only screen and (max-width: 720px) {
      @content;
    }
  } @else if $point == small {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

@mixin body-link() {
  a {
    color: get-color(secondary, dark);
  }
}

@mixin border-radius() {
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  border-radius: .2rem;
}
