@use "theme";

$footer-height: 4.3rem;
@include theme.body-link();
body {
  background-color: theme.get-color(background);
}
.content {
  @include theme.max-width();

  .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  + .content {
    padding-top: 0;
  }
}

.contentContainer {
  @include theme.media(large) {
    display: flex;
  }
}

.contentContainerChild {
  margin-bottom: theme.get-spacing(medium);
  @include theme.media(large) {
    flex: 1;
  }
}

.contentContainerChild + .contentContainerChild {
  @include theme.media(large) {
    padding-left: theme.get-spacing("large");
  }
}

.header {
  border-bottom: theme.get-spacing("large") solid theme.get-color(primary);
  text-align: center;
}

.headerTitle {
  @include theme.no-space;
  @include theme.media(small) {
    font-size: get-font-size(medium);
  }
}

.headerLink {
  color: theme.get-color(text);
  text-decoration: none;
}

.main-wrapper {
  min-height: calc(100vh - #{$footer-height});
}

.footer {
  @include theme.body-link();
  background: theme.get-color(primary, desaturate);
  min-height: $footer-height;
  font-size: 0.8rem;
}

.copyleft {
  display: inline-block;
  transform: scale(-1, 1);
}

.callout,
.calloutAlternative,
.aside {
  padding: theme.get-spacing() theme.get-spacing(large) theme.get-spacing(small);
  margin-bottom: theme.get-spacing();
  @include theme.border-radius();
}

.callout {
  background-color: theme.get-color(secondary, light);
  border: 0.1rem solid theme.get-outline-color(secondary, light);
}

.calloutAlternative {
  background-color: theme.get-color(tertiary, light);
  border: 0.1rem solid theme.get-outline-color(tertiary, light);
}

.aside {
  background-color: theme.get-color(primary, desaturate);
  border: 0.1rem solid theme.get-outline-color(primary, desaturate);
}
