@use "theme";

.iframe {
  min-width: 100%;
  height: 24rem;
  max-height: 100vh;
  border: none;
  @include theme.media(large) {
    height: 18rem;
    min-width: 50%;
  }
}

.ride {
  @include theme.media(large) {
    display: flex;
  }

  + .ride {
    border-top: 1px solid theme.get-color(secondary, light);
    margin-top: theme.get-spacing();
    padding-top: theme.get-spacing(large);
  }
}
